.env
.env.*
!.env.example

/vendor/
/node_modules/

/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/public/build/
/public/hot
/public/storage

/coverage/
/phpunit.result.cache

/database/*.sqlite
/database/*.sql
/database/*.sqlite-journal
/config/database-ecommerce.sql
/database.sql
/sale.sql
/__MACOSX/

/craw-test/node_modules/
/craw-test/storage/
/resources/views/promotion.zip
/resources/views/__MACOSX/
/storage/cache_keys.json
/storage/debugbar/
/storage/fonts/

.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo
*~
